101 ICON FIXED PRELOAD "resources/psp.ico"

/*
VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,0,1,0
PRODUCTVERSION 0,0,1,0
FILEFLAGSMASK 0x17L
FILEFLAGS 0x1L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "0c0a04b0"
		BEGIN
			VALUE "Comments",          "PSP Emulator made in D"
			VALUE "CompanyName",       "soywiz"
			VALUE "FileDescription",   "pspemu"
            VALUE "FileVersion",       "0.1"
			VALUE "InternalName",      "pspemu"
			VALUE "LegalCopyright",    "soywiz 2008,2010"
			VALUE "LegalTrademarks",   "soywiz 2008,2010"
			VALUE "OriginalFilename",  "pspemu.exe"
			VALUE "ProductName",       "pspemu"
            VALUE "ProductVersion",    "0.1"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0xc0a, 1200
	END
END
*/
